
.vs/wark19.github.io/v17/.wsuo
.vs/wark19.github.io/FileContentIndex/cbfbf394-7a95-415c-ad0f-d98f557e4f5f.vsidx
.vs/wark19.github.io/FileContentIndex/06005719-0070-4bd5-873e-580e1856d43c.vsidx
.vs/wark19.github.io/config/applicationhost.config
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
